{{$args := parseArgs 1 "Missing input value"
    (carg "string" "input to convert")}}

{{ $unit := reFind "(in|inch|cm|[fc])$" (lower ($args.Get 0)) }}
{{ if $unit  }}
	{{ $num := toFloat (reFind "-?[0-9]+" ($args.Get 0)) }}
	{{ if eq $unit  "f"  }}
		{{ div (round (mult (div (mult (sub $num 32) 5) 9) 100) 100) 100 }}C
	{{ else if eq $unit  "c" }}
		{{ add (mult $num 1.8) 32 }}F
	{{ else if eq $unit  "cm" }}
		{{ div (round (mult ( mult $num 0.39370) 100)) 100 }}in
	{{ else if eq (slice $unit 0 2)  "in" }}
		{{ div (round (mult (div $num 0.39370) 100)) 100 }}cm
	{{end}}
{{end}}